.wrapper{
    background: linear-gradient(120deg, rgba(14,14,14,1) 45%, rgba(0,0,0,1) 52%, rgba(244,11,4,1) 73%);
    padding: 15px 32px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}