.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex ;
  justify-content: space-between;
  align-items: center;
 
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image {
  width: 20%;
  height: auto;
  border-radius: 8px;
}

.content {
  padding: 0 16px; 
  flex-grow: 1; 
  max-width: 240px;
}

.title {
  text-overflow: ellipsis;
  margin-bottom: 8px; 
  font-size: 16px;
  font-weight: 600;
  
  overflow: hidden;
  white-space: nowrap;
}

.description {
  font-size: 12px;
  color: #666;
  line-height: 1.4; 
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
