
// ProductDetails.module.scss
.productDetailPage {
  padding: 20px;
}

.breadcrumbs {
  margin-bottom: 10px;
  font-size: 14px;
}

.breadcrumbs a {
  color: #007bff;
  text-decoration: none;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .flexContainer {
    flex-direction: row;
    gap: 20px;
  }
}

.productDetailContainer {
  display: flex;
  gap: 20px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  flex: 2;
}

.imageContainer {
  flex: 1;
  max-width: 100%;
}

.mainImage {
  width: 100%;
  border-radius: 8px;
}

.thumbnailContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
}

.infoContainer {
  flex: 2;
  padding-left: 20px;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.priceContainer {
  margin-bottom: 10px;
}

.currentPrice {
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

.monthlyPrice {
  display: block;
  color: #28a745;
}

.oldPrice {
  display: block;
  text-decoration: line-through;
  color: #6c757d;
}

.priceCard {
  flex: 1;
}

@media (max-width: 768px) {
  .productDetailContainer {
    flex-direction: column;
    align-items: center;
  }

  .infoContainer {
    padding-left: 0;
    text-align: center;
  }

  .title {
    font-size: 20px;
  }

  .priceContainer {
    margin-bottom: 10px;
  }

  .currentPrice {
    font-size: 28px;
  }

  .buttons {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 18px;
  }

  .currentPrice {
    font-size: 24px;
  }

  .addToCartButton,
  .installmentButton {
    font-size: 14px;
    padding: 8px;
  }
}

.description {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin-top: 20px;
}
