.productDetailPage {
  padding: 20px;
  background-color: #f9fafb;
}

.button {
  border: none;
  outline: none;
  width: 100%;
  margin-top: 0.7rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: black;
  color: white;
}

.buttonAdded {
  background-color: #28a745;
  color: white;
}

.buttonBounce {
  animation: buttonBounce 0.5s;
}

@keyframes buttonBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.breadcrumbs {
  margin-bottom: 10px;
  font-size: 14px;
}

.breadcrumbs a {
  color: #007bff;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 769px) {
  .flexContainer {
    flex-direction: row;
  }
}

.productDetailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.mainImage {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.mainImage:hover {
  transform: scale(1.05);
}

.thumbnailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.1);
  border-color: #ff0000;
}

.infoContainer {
  flex: 2;
  padding: 0 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.priceContainer {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.currentPrice {
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

.oldPrice {
  text-decoration: line-through;
  color: #6c757d;
}

.monthlyPrice {
  color: #28a745;
}

.description {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .productDetailContainer {
    flex-direction: column;
    align-items: center;
  }

  .infoContainer {
    padding: 0;
    text-align: center;
  }

  .title {
    font-size: 20px;
  }

  .currentPrice {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 18px;
  }

  .currentPrice {
    font-size: 24px;
  }

  .button {
    font-size: 14px;
    padding: 8px;
  }
}
