.container {
  display: flex;
  width: 100%;
}

.collection {
  background-color: #0abab5;
  padding: 6px;
  width: 15rem;
  overflow-y: auto;
}

.collectionItem {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.categoryContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: auto;
    flex-grow: 1;
    width: 63rem;
  }
  

.categoryItem {
  background-color: #0abab5;
  color: white;
  padding: 10px;

  p {
    margin-bottom: 5px;
    font-size: 16px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 5px;
      font-size: 16px;
      text-align: center;

      a {
        text-decoration: none;
        
      }
    }
  }
}
