.wrapper {
  background: black;
  color: white;
}

.content {
  background: white;

  .drop {
    background: linear-gradient(120deg, rgba(14, 14, 14, 1) 45%, rgba(0, 0, 0, 1) 52%, rgba(244, 11, 4, 1) 73%);
  }
}

.cart {
  display: flex;
  gap: 10px;
  border-radius: 15px;
  color: black;
  border: 1px solid black ;
  padding: 15px 30px;
  &:hover {
    background-color: black ;
    transition: 0.5s;
    color: white;
  }
}

.exit {
  display: flex;
  gap: 10px;
  border-radius: 15px;
  color: black;
  padding: 15px 30px;
  border: 1px solid black;
  &:hover {
    background-color: black;
    transition: 0.5s;
    color: white;
  }
}

.input {
  border-color: black;
  width: 40rem;
  height: 3rem;
  &:hover {
    border-color: black;
  }
}

@media (max-width: 768px) {
  .ant-dropdown-menu {
    width: 100px;
  }

  .wrapper {
    nav:first-of-type {
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }

    .logo {
      width: 100px;
      height: auto;
    }
  }

  .content {
    .cart, .exit {
      padding: 10px 20px;
      font-size: 0.875rem;
    }

    .input {
      width: calc(100% - 2rem);
      height: 2.5rem;
      margin: 0.5rem 0.5rem;
    }

    .flex {
      flex-direction: column;
      align-items: center;
    }
  }
}
