
.button {
  background: linear-gradient(120deg, rgba(14,14,14,1) 45%, rgba(0,0,0,1) 52%, rgba(244,11,4,1) 73%);
  border: none;
  outline: none;
  margin-top: 0.7rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: white;
}